<%- include("./partials/header.ejs"); -%>

          <div class="card">
            <h1> Error: Please enter a valid zip code.</h1>

            <form class="form" action="/" method="post">
            <label for="zipInput">Enter a Zip Code:</label>
            <input id="zipInput" class="form-control text-center" type="text" name="zipCode" value=""><br />
            <button type="submit" class="btn btn-success">Submit</button>
            </form>
            </div>


<%- include("./partials/footer.ejs"); -%>
